<!DOCTYPE html>
<html ng-app="FoodApp">
<head>
    <meta charset="UTF-8">
    <title>Food beverages</title>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/footer.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="css/main.css" rel="stylesheet" />
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>


</head>
<body ng-controller="MainController">
<div class="header">
    <div class="container">
       <a href="#/"><img src="img/icon.png  "/></a>
    </div>
</div>

<div class="main" >
    <div class="container">
        <div ng-repeat="product in products | filter:filtText" class="col-md-3" align="middle">
                 <div class="thumbnail">
                   <img ng-src="{{ product.cover }}">
                   <p class="title" align="middle">{{ product.name }}
                        <span ng-if="product.expanded" ng-click="product.expanded = false" class="fa fa-arrow-circle-up"></span>
                        <span ng-if="!product.expanded" ng-click="product.expanded = true" class="fa fa-arrow-circle-down"></span>
                        <p ng-if="product.expanded" ng-repeat-end="" align="middle">{{product.description}}</p>
                   </p>
                   <p class="price">{{ product.price | currency }}</p>
                    <!-- <p class="date" align="middle">{{ product.pubdate | date }}</p> -->

                    <div class="rating">
                    <p class="likes" ng-click="plusOne($index,product)">+ {{ product.likes }} </p>
                    <p class="dislikes" ng-click="minusOne($index,product)">-</p>
                   </div>

                </div>
        </div>
        <!-- shopping cart button start-->
        <table align="right" class="table_own">
            <tr>
                <td class="td_own">
                    <button style="float: right;" type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#demo">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Checkout
                    </button>
                </td>
            </tr>
        </table>
        <!-- shopping cart button ends-->
        <!-- page links
        <a href="#/order" style="float: right;"><span class="glyphicon glyphicon-link"></span></a>
        <!-- page links ends -->
   </div>
        <table align="center" class="table_own">
            <tr>
                <td class="td_own">
                    <div id="demo" class="container collapse out" style="background:white; width: 500px; margin: 0 auto;" >
                        <table class="table table-striped">
                            <thead>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </thead>
                            <tbody ng-repeat="order_id in order_details">
                                <tr>
                                    <td>{{order_id.name}}</td>
                                    <td>{{order_id.quantity}}</td>
                                    <td>{{order_id.price * order_id.quantity}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-default btn-sm" style="float:right;" ng-click="place_order()">
                          <span class="glyphicon glyphicon-cutlery"></span> Place Order
                        </button>
                    </div>
                </td>
            </tr>
        </table>
</div>

<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Indian<span>food</span></h3>

        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Blog</a>
            ·
            <a href="#">Pricing</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#">Faq</a>
            ·
            <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">Indian Food &copy; 2016</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>{{contact_details[0].flat}}</span>{{contact_details[0].city}}</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>{{contact_details[0].phone}}</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:{{contact_details[0].email}}">{{contact_details[0].email}}</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            {{contact_details[0].briefing}}
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>



<!-- Modules -->
<script src="js/app.js"></script>


<!-- Controllers -->

</body>
</html>